.container
  .row
    .span4
    .span4
      = form_for :session, url: session_path do |f|
        %h2 Please sign in
        %p
          Using your
          = link_to Settings.resource_map.host, "http://#{Settings.resource_map.host}", target: '_blank'
          account
        %input.input-block-level{:placeholder => "Email address", :type => "text", :name => "email"}/
        %input.input-block-level{:placeholder => "Password", :type => "password", :name => "password"}/
        = submit_ladda_button 'Sign in', class: 'btn-large'

    .span4
