.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-toggle" => "collapse", href: "#collapseOne"}
        Not classified
    #collapseOne.accordion-body.collapse.in
      .accordion-inner
        .recon-panel
          %table.table.table-bordered
            %tr
              %th Source Division
              %th Number of Records
              %th Geo-political division

            %tr(ng-repeat='mapping_entry in unclassified_mapping' ng-controller='MappingEntryCtrl' ng-class='{active: mapping_entry.editing}')
              %td
                {{mapping_entry.source_value}}
              %td
                {{mapping_entry.source_count}}
              %td
                %a(href='javascript:' ng-click='edit()')
                  (choose)

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-toggle" => "collapse", href: "#collapseTwo"}
        Classified
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        .recon-panel
          %table.table.table-bordered
            %tr
              %th Source Division
              %th Number of Records
              %th Geo-political division

            %tr(ng-repeat='mapping_entry in classified_mapping' ng-controller='MappingEntryCtrl' ng-class='{active: mapping_entry.editing}')
              %td
                {{mapping_entry.source_value}}
              %td
                {{mapping_entry.source_count}}
              %td
                %a(href='javascript:' ng-click='edit()')
                  {{mapping_entry.target_value}}

.span12
  .recon-panel(ng-show='selected_entry')
    = render 'shared/angular/hierarchy_tree'

  .well(ng-hide='selected_entry')
    Select a source value to edit mapping

