%h1
  = link_to @project.name, project_path(@project)

%h2
  New facility source

= simple_form_for @new_source_list, url: project_sources_path(@project) do |f|
  = f.input :name
  = f.input :file, :as => :file
