%div{'ng-app'=>'FacilityPromotionApp', 'ng-init'=> init_scope(project_id: @project.id, source_list_id: @source.id, collection_id: @source.collection_id)}

  .row-fluid
    .span9
      %div{'ng-controller' => 'FacilityPromotionCtrl'}
        %rm-collection-context{id: @source.collection_id}
          = link_to 'â† back to source list', source_list_details_project_source_path(@project, @source)
          %h1
            Promote sites in
            = @source.name

          %div
            {{count}} sites to promote

          %div
            %a.btn.btn-success.btn-large{'ng-click' => 'start()'}
              %i.icon-play.icon-white
              Start
            %span{'ng-show' => 'working'}
              %i.icon-warning-sign
              The process will stop if you navigate away or close your browser window

          %br
          .progress-indication
            .progress
              .bar{style: 'width: {{processed_percentage}};'}
            %div
              {{processed}} of {{count}} sites processed
              %span{'ng-show' => 'failed > 0'} - {{failed}} have failed

