.node(ng-class='{choosen: node.choosen}')
  %a.node-label{:href => "javascript:", "ng-click" => "toggle(node)"}
    %i(ng-class='{"icon-folder-close": !node.leaf && !node.expanded, "icon-folder-open": !node.leaf && node.expanded, "icon-file": node.leaf}')
    {{node.name}}
    (id: {{node.id}})
  %a.choose(href="javascript:" ng-click="choose(node)")
    (choose)
%ul{"ng-show" => "node.expanded"}
  %li(ng-repeat='node in node.sub' ng-include="'hierarchy_tree_node.html'")
  / %li{"ng-show" => "node.sub == null"}
  /  Loading...
