#errorModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "error", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#error Error
  .modal-body
    %p There was an error, please refresh the page and try again.
