#errorModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "error", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#error Error
  .modal-body
    %p Something went wrong, sorry about that!  Navigate back and see if you can continue.  Otherwise, you can email us at masterfacilitylist@googlegroups.com and someone will follow-up with you shortly.
