= back_to_project

%br
%br

%p
	Before reconciling source lists or managing your MFL, you need to define an administrative unit hierarchy in Resource Map. Please complete the following to move forward:
%ol
	%li 
		Navigate back to the main landing page. 
	%li 
		Select to Review MFL Schema in Resource Map. 
	%li 
		Edit the layer, and add a new hierarchy Form Field with name and code as: admin_division.
	%li 
		Upload the approved hierarchy for your country, via .csv and save the layer.
%h5	
	Contact masterfacilitylist@googlegroups.com if you have any questions or get stuck.