= back_to_project

%br
%br

%h4
	It appears there was a problem with uploading your list.  Don’t worry though ... Navigate back and try to re-load your list.  Make sure that the following conditions are met: 1) The file is a .csv, 2) There is a unique id field, 3) there is a field titled “Name” with the facility name.  Otherwise, you can email us at masterfacilitylist@googlegroups.com and someone will follow-up with you shortly.