%div(ng-controller='PendingListCtrl')
  %ul.unstyled
    %li(ng-repeat='node in list')
      %a.unstyled(ng-click='choose(node)' href='javascript:')
        {{node.path}}
        ({{node.id}})
        %span.badge {{node.count}}
