%div(ng-controller='SearchSiteCtrl' ng-show='target_site == null')
  %input.search-query(ng-model='search')

  %div(ng-show='search_loading') Loading...

  %div(ng-show='!search_loading && sites.length == 0') There are no sites that match the criteria.

  %div(ng-show='!search_loading && sites == null')
    Input site criteria

  %br
  %br
  %ul.nav.nav-tabs.nav-stacked(ng-hide='search_loading')
    %li
      %a(href='javascript:' ng-hide='source_site == null' ng-click='create_target_site()')
        %i.icon-plus-sign
        Create new site in MFL
    %li(ng-repeat='site in sites')
      %a(href='javascript:' ng-click='select(site)')
        {{site.name}}
