
%ul.project_source_lists
  - @project.source_lists.each do |source_list|
    %li
      .well.well-small.well-white
        = link_to source_list.name, source_list_details_project_source_path(@project, source_list)
        - if source_list.curation_progress == 100
          %i.icon-ok
        - else
          %i.icon-warning-sign
        = "#{source_list.curation_progress}% classified"
        .progress
          .bar{style: "width: #{source_list.curation_progress}%"}

  %li
    .well.well-small
      %a{href: new_project_source_path(@project)}
        %i.icon-plus-sign
        %br
        New facility source
