%h1
  = link_to @project.name, project_path(@project)
  curation

%div{'ng-app'=>'CurationApp', 'ng-init'=> init_scope(project_id: @project.id, hierarchy: @hierarchy)}
  - angular_templates 'shared/angular'

  %div(ng-controller='CurationPanel')
    .row-fluid
      .span3
        %h2 Filter by
        = render 'shared/angular/hierarchy_tree'

      .span3
        %h2 Review changes

        %span(ng-show='sites_loading') Loading...

        .accordion(ng-show='selected_node && !sites_loading')
          = render 'pending_sites'

        .well(ng-hide='selected_node')
          Select a category to filter by.

        .well(ng-show='selected_node && !sites_loading && sites.length == 0')
          There are no sites updates!

      .span3
        %h2 Consolidate
