%h1 Projects

.row
  .span4
    %ul.nav.nav-tabs.nav-stacked
      - @projects.each do |p|
        %li
          = link_to project_path(p) do
            = p.name
            %i.icon-chevron-right.pull-right

      %li
        = link_to new_project_path do
          %i.icon-plus
          Create project

  .span8
    .alert.alert-info
      Thank you for your interest.
      %br
      %br
      This is a prototype tool that was started around the problem of how to map, link and consolidate multiple facility lists that lack a common identifier.   It is yet to be extensively beta-tested among users, so please keep a few things in mind as you get started: 

      %br
      %br

      %ul
        %li This is a prototype tool - there will be bugs and you will probably run into technical issues. If you find a bug or have a request for new features please share them by sending an email to masterfacilitylist@googlegroups.org.
        %li There will be design and user interface elements that may be annoying; be sure to share them in the group above so that everyone can learn about the particular needs of your organization and patterns in your data.

      %br
      
      Having up-to date facility lists is valuable information, that leads to better health systems management and ultimately better service delivery. Hopefully this tool will help you consolidate such important data for your country. 