/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 */

@import "bootstrap";
@import "ladda";

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#globalLoading {
  padding: 1px 6px 1px;
  margin-top: 9px;
  background: lightyellow;
  border-radius: 2px;
  display: none;
}

tr.active {
  background-color: $linkColor;
  a {
    color: $white;
  }
  td {
    color: $white;
  }
}

.hierarchy_tree {
  & {
    list-style: none;
    margin-left: 0px;
  }
  ul { list-style: none; margin-left: 10px; }

  .choose { display: none; }
  .node:hover .choose { display: inline; }

  a.node-label { text-decoration: none; color: inherit; }
  .node.choosen {
    background-color: $linkColor;
    a { color: $white; }
  }
}

.recon-panel {
  height: 500px;
  overflow: scroll;
}

.modal-big {
  width: 800px;
  margin-left: -400px;
}

.modal {
  .recon-panel {
    height: 300px;
  }
}

textarea, input, button {
  &:focus {
    outline: none;
  }
}

.location_edit_popover {
  .map {
    width: 250px;
    height: 250px;
  }
}

// support multiple inputs in .input-append
.input-append input + input {
  margin-left: -1px;
  @include border-radius(0);
}

// popover in modals z-index issue
.popover {
  z-index: 2020;
}

// http://stackoverflow.com/questions/9904379/google-map-zoom-controls-not-displaying-correctly
.gmnoprint img {
  max-width: none;
}

.project_source_lists {
  @extend .unstyled;
  @extend .clearfix;
  li {
    display: inline;
    float: left;
    width: 150px;
    margin-right: 10px;
    > .well {
      height: 100px;
      position: relative;
      a {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  .source-bottom {
    bottom: -18px;
    left: 2px;
    right: 2px;
    position: absolute;
  }
}

.well-white {
  background: #fff;
}

.table {
  .changed-field-cell {
    background-color: #cfc;
  }
}

.dnd-source {
  @extend .uneditable-input;
  cursor: pointer;
  background-color: #ddd;
  color: #111;
}

.dnd-target {
  &.dnd-target-highlight {
    background-color: #f2f2f2 !important;
  }
}

a.unstyled {
  color:black;
  &:hover {
    text-decoration:none;
  }
}

form {
  .ng-invalid {
    border-color:#AA0000;
  }

  span.help-block {
    color:#AA0000;
  }
}

.huge {
  font-size: 300%;
  font-weight: bold;
}

.inline {
  display: inline-block;
}

#mapping-errors-tree {
  ul {
    list-style-type:none;
  }
  .needs-correction {
    color: red;
  }
  .node {
    .correction, .fixed {
      display:inline-block;
    }
  }
}
