/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 */

@import "bootstrap";

tr.active {
  background-color: $linkColor;
  a {
    color: $white;
  }
  td {
    color: $white;
  }
}

.hierarchy_tree {
  & {
    list-style: none;
    margin-left: 0px;
  }
  ul { list-style: none; margin-left: 10px; }

  .choose { display: none; }
  .node:hover .choose { display: inline; }

  a.node-label { text-decoration: none; color: inherit; }
  .node.choosen {
    background-color: $linkColor;
    a { color: $white; }
  }
}

.recon-panel {
  height: 500px;
  overflow: scroll;
}
